DATABASE_URL="mongodb+srv://viralmak32_db_user:T8AL8jhfBcWQZwVt@tiffinbox.rpvmyj7.mongodb.net/?appName=TiffinBox"

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-key-change-this-in-production

# Email Credentials
EMAIL='viralmak32@gmail.com'
PASS=''


NODE_ENV='development'

# Google Maps API Key (optional - will fallback to OpenStreetMap if not provided)
 NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAgVLMCVp_wxGTjbzuLsQLq2QL6iKNFCRo
SKIP_FCM=true
DISABLE_REDIS=true
DISABLE_CRON=true